<index>
    <title>
        Nalog
    </title>
    <body>
{#        <h1>Name:{{ name}}</h1>#}
{#        <h1>Phone:{{ phone }}</h1>#}
{#        <h1>Description:{{ desc }}</h1>#}
{#        <h1>Date:{{ date }}</h1>#}
<!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
<style>
table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}
thead{
    color:#f3f2f5
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #ffcc00;
}
</style>

<!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
<table class="GeneratedTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ name}} </td>
      <td>{{ phone }}</td>
      <td>{{ date }}</td>
    </tr>
    <tr>
        <td colspan="3" style="font-size: 20px;background-color:#ffcc00;color:#f3f2f5">Опис на проблем:</td>
    </tr>
    <tr>
      <td colspan="3">{{ desc }}</td>

    </tr>
  </tbody>
</table>
<!-- Codes by Quackit.com -->


    </body>
</index>